@if (myForm) {
<form [formGroup]="myForm" class="w-full flex flex-col gap-5" (ngSubmit)="onSubmit()">
    <div class="w-full flex flex-col gap-2">
        @if (interfaceService.entidad$() === 'Estudiante') {
        <label for="select-alumno">Selecciona un alumno a editar</label>
        <select formControlName="estudianteId" id="select-alumno"
            class="w-full bg-[var(--input-background-color)] py-4 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none appearance-none">
            <option value="" class="bg-[var(--card-background-color)] text-white">Selecciona un alumno</option>
            @for (alumno of alumnoService.alumnos$(); track alumno._id) {
            <option [value]="alumno._id" class="bg-[var(--card-background-color)] text-white">
                {{ alumno.nombre }} {{ alumno.apellidos }}
            </option>
            }
        </select>

        <label for="nombre-alumno">Nombres</label>
        <input type="text" id="nombre-alumno" placeholder="Nombres del alumno" formControlName="nombreEstudiante"
            class="w-full bg-[var(--input-background-color)] py-3 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none">

        <label for="apellidos-alumno">Apellidos</label>
        <input type="text" id="apellidos-alumno" placeholder="Apellidos del alumno" formControlName="apellidosEstudiante"
            class="w-full bg-[var(--input-background-color)] py-3 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none">

        <label for="carrera-alumno">Carrera</label>
        <select id="carrera-alumno" formControlName="carreraId"
            class="w-full bg-[var(--input-background-color)] py-4 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus-within:outline-none text-white appearance-none">
            <option value="" class="bg-[var(--card-background-color)] text-white">No asignada</option>
            @for (carrera of carreraService.carreras$(); track carrera._id) {
            <option [value]="carrera._id" class="bg-[var(--card-background-color)] text-white">{{ carrera.nombre }}
            </option>
            }
        </select>
        } @else if (interfaceService.entidad$() === 'Carrera') {
        <label for="select-carrera">Selecciona una carrera a editar</label>
        <select formControlName="carreraId" id="select-carrera"
            class="w-full bg-[var(--input-background-color)] py-4 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none text-white appearance-none">
            <option value="" class="bg-[var(--card-background-color)] text-white">Selecciona una carrera</option>
            @for (carrera of carreraService.carreras$(); track carrera._id) {
            <option [value]="carrera._id" class="bg-[var(--card-background-color)] text-white">{{ carrera.nombre }}
            </option>
            }
        </select>

        <label for="nombre-carrera">Nombre de la carrera</label>
        <input type="text" id="nombre-carrera" placeholder="Nuevo nombre de la carrera" formControlName="nombreCarrera"
            class="w-full bg-[var(--input-background-color)] py-3 px-5 rounded-lg font-['UbuntuRegular'] text-[0.9rem] border border-[rgba(255,255,255,0.3)] focus:outline-none">
        }
    </div>

    <button type="submit"
        class="bg-[var(--tertiary-color)] py-2 px-7 rounded-lg cursor-pointer duration-200 ease-in-out font-bold disabled:opacity-50 disabled:cursor-not-allowed">
        Actualizar
    </button>
</form>
}